body {
    font-family: Arial, sans-serif;
    background: #0e57a0;
    padding: 2em;
    max-width: 800px;
    margin: auto;
}

  h1 {
    text-align: center;
    color: #e0e0e0;
  }
  h2 {
    text-align: center;
    color: #0e60b1;
  }
  .category {
    background: #e0e0e0;
    font-weight: bold;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    color: #0e57a0;
  }
  label {
    display: block;
    margin: 5px 0;
  }
  input[type="checkbox"] {
    margin-right: 10px;
  }
  select {
    font-size: 1em;
    padding: 5px;
    margin-bottom: 20px;
  }
  .qty {
    font-weight: bold;
    color: #34495e;
  }
  .important {
      color: #e21700e8;
      font-weight: bold;
  }
  .center-red {
    text-align: center;
    color: #e0e0e0;
    font-weight: bold;
    margin-bottom: 1em;
  }
  img {
    max-width:10%;
    max-height:10%;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .hidden {
    display: none;
  }